# Секреты — никогда не публикуем
.env

# Виртуальное окружение Python
.venv/
venv/

# Кэш Python
__pycache__/
*.pyc

# VS Code настройки (необязательно, но обычно не нужны в репозитории)
.vscode/

# Модель — большой файл, GitHub не любит файлы больше 100 МБ
# Если твоя модель меньше 100 МБ — можешь удалить эту строку
*.pkl

# Логи
*.log

.streamlit/secrets.toml